################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
/.vs
/Debug
/xFollow/Debug
/vsVcxproj/vs2012/Bin
/vsVcxproj/vs2012/Debug
/vsVcxproj/vs2012/ipch/xfollow-6e920115
/vsVcxproj/vs2012/Lib
*.sdf
*.user
*.aps
/xFollowCenter/Debug
/XNYSTools/Debug
/xTraderManage/Debug
/Lib
/xCTPPlugin/Debug
*.ipch
*.opensdf
